.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    font-family: "roboto";
    font-size: 130%;
    color: rgb(92, 91, 91);
}
p{
    color: rgb(92, 91, 91);
    font-size: 130%;
}
.card-container{
    width: 30%;
    height: 95%;
   background-color: white;
   padding-top: 1%;
   border-radius: 2%;
   box-shadow: 0px 0px 1px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-container{
    width: 90%;
    height: 60%;
    background-size: cover;
    background-position: center;
    background-image:url("https://rihaa.com/cdn/shop/products/image_600x_e66f9679-aa4d-4e3e-bdff-9a4057d5315e_600x.jpg?v=1668004970");
    background-repeat: no-repeat;
    transition: background-image 2s linear;
    border-radius: 3%;
}
.image-container:hover{
    background-image: url("https://rihaa.com/cdn/shop/products/image_600x_3152760b-5a53-452f-88b9-896e67b13467_600x.jpg?v=1668004970");
}
.price-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 65%;
    height: 10%;
    border-radius: 5%;
    align-items: center;
    border: 2px solid silver;
}
select{
    width: 10%;
    height: 20%;
    border-width: 0px;

}

button {
   color: black;
   margin: auto;
   width: 70%;
   height: 5%;
   background-color: transparent;
   border: 1px solid rgb(173, 175, 177);
   border-radius: 3px;
    cursor: pointer;
    outline: none;
    position: relative;
    margin:auto;
    z-index:1;
}


  button::before {
    content: "";
    position: absolute;
    background-color: #f3cf41;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: width 0.5s ease-in-out;
    z-index: -1;
  }
  
  button:hover::before {
    width: 100%;
  }
  
  button:not(:hover)::before {
    width: 0;
    right: 0;
    left: auto;
  } 
 
















